<div class=”post”>
	<div class=”post-header”>
		<h2> <%= post["title"]%> </h2>
		<p> <%=post["author"]%> </p>
	</div>
	<div class=”post-content”>

	</div>
<div class=”post-footer”>
		<div class=”score”>
			<button> + </button>
<button> - </button>
<p> <%=post["score"] %></p>
<a href="<%=post["url"] %>" > Voir commentaire </a>
</div>
	</div>


</div>
