<div class="main">

  <div class="container">
  </div>
  <% @content.each do |x| %>
  <%= render partial: "shared/post", locals: {post: x["data"]} %>
  <% end  %>

  <% @youtube.each do |x| %>
  <%=raw x %>
  <% end  %>
</div>
