<div class="main">

  <div class="container">
    <h1>Hello my name is Patrick</h1>
    <p>I make Rails apps.</p>
  </div>
  <% @content.each do |x| %>
  <%= render partial: "shared/post", locals: {post: x["data"]} %>
  <% end  %>

  <% @youtube.each do |x| %>
  <%=raw x %>
  <% end  %>
</div>
